/* CSS Document */
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing:border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;	
	background-color: rgb(255,255,255);
	}

*, *:before, *:after {
	box-sizing:inherit;
}


body { 
	margin: 0;
	padding: 0;
	}


.flex {
	display: block;
	width: 100%;
	}

a {
	color: rgb(36,31,64);
	text-decoration:none;
	}
	
a:hover {
	color:rgb(234,103,72);
	margin-bottom:  .2em;
	border-bottom: solid;
}

a:active {
	color:rgb(234,103,72);
	margin-bottom:  .2em;
	border-bottom: solid;
}

.masthead {
	background-color:rgb(255,255,255);
	position: fixed;
     width: 100%;
	 height: 8em;
	 z-index: 100;
	}

h1 {
	color: rgb(236,101,86);
	}

.iconcolor {
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	font-weight:700;
	color: rgb(62,58,87);
	text-align:center;
	margin-bottom: 2em;
	}
	
h2 {
	color: rgb(62,58,87);
	}
h3 {
	color: rgb(62,58,87);
	}

.grant {
	max-height: 80%;
	}
	
.marg {
	width: 60%;
	margin:auto;
}

.navicon {
	max-height: 3em;
	}

.nav {
	text-align:right;
	list-style-type: none;
	height: inherit;
	}

.banner {
	padding-top: 8em;
	text-align:center;
	}
	

.intro-wrap {
	width: 80%;
	margin: 0 10% 2rem 10%;
	}

.viewbox {
	position: relative;
	}

.viewreel {
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	text-decoration:none;
	color: rgb(240,125,90);
	padding: 2% 4% 2% 4%;
	margin-bottom: 3rem;
	background-color: rgb(255,255,255);
	}
	
.viewreel:hover {
	background-color:transparent;
	color:rgb(235,206,190);
	border: 3px solid rgb(235,206,190);
	
	}

.view {
	font-family: Quicksand, Arial, Helvetica, sans-serif;
 	position: absolute;
	 bottom: 6rem;
	 text-decoration:none;
	 width: 100%;
	 text-align:center;
	}


.btn {
	z-index:1;
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	 text-decoration:none;
	 background:rgb(235,102,80);
	 padding: 2% 4% 2% 4%;
	 color: rgb(255,250,251);
	}
	
.btn:hover {
	background-color:transparent;
	border: 3px solid rgb(255,255,255);

	}

a:hover {
	text-decoration: none;
	}

.projecttop {
	padding-top: 8rem;
	padding-bottom: 1.5rem;
	margin: auto;
	text-align: center;
	}

.video {
	position:relative;
	text-align:center;
	}

.embed {
	overflow: hidden;
	width: 100%;
	position: relative;
	}

.embed-item {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	}

.embed-16by9 {
	padding-top:56.25%;
	}

.section2 {
	margin-top: 1.5rem;
	margin-left: 5%;
	margin-right: 5%;

	}

.specs {
	margin: inherit;
	color:rgb(238,126,109);
}
	
.thanks {
	text-align:center;
}
	


/***************************
****************************
These are the styles for
the social media section
****************************
***************************/

.contacttext {
	margin-top: 1em;
	padding-left: 10%;
	padding-right:10%;
	text-align:center;
	}
	
.mail { 
	color: rgb(234,103,72);
	}

.mail:link { 
	
	margin-bottom: 2em;
	font-family:'Quicksand', sans-serif;
	color: rgb(234,103,72);
	display:block;
	text-align:center;
	text-decoration:none;
	}
.mail:hover {
	text-decoration:underline;
	}


.socialmedia {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
	}

.socialmedia ul {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    padding: 0px;
    overflow: hidden;
	}

.socialmedia li{
    padding: 2px;
	height: 50px;
    display:inline-block;
	}

.twitter {
	background-repeat: no-repeat;
	background-image:url(../img/twitter.svg);
	background-size: 100%;

	}

*{ height:inherit;
	}

.dribbble { 
	background-repeat: no-repeat;
	background-image:url(../img/dribbble.svg);
	background-size: 100%;
	}

.behance {
	background-repeat: no-repeat;
	background-image:url(../img/behance.svg);
	background-size: 100%;
	}

/***************************
****************************
These are the styles for
the footer section
****************************
***************************/

footer {
	margin-top: 1em;
	}

.footerpara {
	text-align:center;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
	color:rgb(235,206,190);
	background-color:rgb(33,40,70);
	}

/***************************
****************************
These are the styles for
the 404 page
****************************
***************************/

.broke {
	width: 30%;
	margin: auto;
}


@media only screen and (min-width: 25em) {



.socialmedia li {
		height: 3em;
	}
	
}

@media only screen and (min-width: 38em) {
	
.masthead {
	 height: 6em;
	}

.navicon {
	max-height: 4em;
	}
	
.intro {
	background: none;
	}
	
.intro-wrap {
	bottom: 1.5rem;
	}

}

@media only screen and (min-width: 45em) {


.intro-wrap {
	bottom: 1.5rem;
	}
	
.section2 {
	width: 70%;
	margin:auto;
	}
}

@media only screen and (min-width: 60em) {

.masthead {
	 height: 8em;
	}

.intro-wrap {
	bottom: 2rem;
	}

.socialmedia li {
	height:4em;
	padding: 1em;
	}
	
	.section2 {
	width: 50%;
	margin:auto;
	}
}

@media only screen and (min-width: 70em) {

	.intro-wrap {
	bottom: 3rem;
	}
	
}

@media only screen and (min-width: 80em) {

	.intro-wrap {
	bottom: 4rem;
	}
	
	main {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	}
	
}



@media only screen and (min-width: 90em) {

	.intro-wrap {
	bottom: 6rem;
	}
	
}

@media only screen and (min-width: 120em) {

main {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	}

.intro-wrap {
	bottom: 20rem;
	}
	
}