<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{% if page.title %}{{page.title}} · {% endif %}Grant Jeffery</title>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="../css/grid.css" rel="stylesheet">
<link href="../css/typography.css" rel="stylesheet">
<link href="../css/main.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<body>
	<header class="masthead grid island-1-2">
		<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
			<h1 class="peta push-0"><a class="home" href="{{site.baseurl}}/index.html"><img class="grant flex" src="img/grant.svg" alt="Grant Jeffery - Ottawa based motion designer-"/></a></h1>
		</div>
	</header>
{{content}}
</body>
</html>
