<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{% if page.title %}{{page.title}} · {% endif %}Grant Jeffery</title>
<meta description="{% if page.title %}{{page.title}} · {% endif %}">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
<link rel="icon" 
      type="image/ico" 
      href="{{site.baseurl}}/img/granticon.ico">

<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<body>
	<header class="masthead grid island-1-2">
		<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
			<h1 class="peta push-0"><a class="home" href="{{site.baseurl}}/index.html"><img class="grant flex " src="{{site.baseurl}}/img/grant.svg" alt="Grant Jeffery - Ottawa based motion designer-"/></a></h1>
		</div>
	</header>
{{content}}
</body>
</html>
