<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{% if page.title %}{{page.title}} · {% endif %}Grant Jeffery</title>
<meta description="{% if page.title %}{{page.title}} · {% endif %}">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
<link rel="icon" 
      type="image/ico" 
      href="{{site.baseurl}}/img/granticon.ico">

<link href='https://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
<body>
	<header class="grid top island-1-2"roll=navigation>
		<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-3">
			<h1 class="peta masthead push-0"><a class="home" href="{{site.baseurl}}/index.html"><img class="grant flex" src="{{site.baseurl}}/img/grant.svg" alt="Grant Jeffery - Ottawa based motion designer-"/></a></h1>
		</div>
			<ul class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-2-3 nav">
				<li class="iconcolor textleft"> 
					<a class="sm" href="#contact">About</a>
				</div>
				<li class="iconcolor textmiddle">
					 <a class="sm" href="#work">Design</a></div>
				<li class="iconcolor textright"> 
					<a class="sm" href="#reel">Motion</a>
				</div>
			</div>
	</header>
{{content}}
<footer>
		<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-3">
			<a class="mail mega" href="mailto:grant@kcollective.club">grant@kcollective.club</a>
		</div>

		<ul class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-2-3 nav social">
				<li class="iconcolor textleft"> 
					<a class="sm" href="https://vimeo.com/user7998527">Vimeo</a>
				</div>
				<li class="iconcolor textmiddle">
					 <a class="sm" href="https://www.behance.net/grantjeffery">Behance</a></div>
				<li class="iconcolor textright"> 
					<a class="sm" href="https://dribbble.com/grantjeffery">Dribbble</a>
				</div>
			</div>
	</footer>
</body>
</html>
